# Random Selection
This script randomly selects *n* members from a list to be used for a raffle.

Import libraries

In [1]:
import pandas as pd

Read the dataframe

In [2]:
# define path to excel
path = 'data/test-members.xlsx'

# read in data as dataframe
df = pd.read_excel(path)
display(df.head())
print('Number of records (raw):', df.shape[0])

         Name
0  Scooby Doo
1      Shaggy
2       Velma
3        Fred
4      Daphne

Number of records (raw): 6

Remove any potential duplicates

In [3]:
# define unique field to drop dups on
unique_fields = ['Name']

# drop dups and show cleaned dataframe
df.drop_duplicates(subset=unique_fields, inplace=True)
display(df.head())
print('Number of records (no dups):', df.shape[0])

         Name
0  Scooby Doo
1      Shaggy
2       Velma
3        Fred
4      Daphne

Number of records (no dups): 5

Select *n* elements from the dataframe and remove them from the dataframe

In [4]:
# define sample size
n = 1

# select rows
selected_rows = df.sample(n)
display(selected_rows)

# drop selected
df.drop(selected_rows.index, inplace=True)
print('Remaining records after selection:', df.shape[0])

    Name
2  Velma

Remaining records after selection: 4